<div class="container-fluid py-1">

    <h1 class="display-5 text-center py-5">Lo street food romano</h1>

    <!--Hero image-->
    <img src="../../../assets/fioriZucca.webp" class="img-fluid mx-auto d-block shadow" alt="streetfood">

    <div class="container-fluid text-center py-5">
        <p class="fs-5 text-start fw-bold">
            A Roma, il profumo avvolgente dei fritti risuona per le strade, invitandoti a scoprire i tesori gastronomici
            della città eterna. Tra i protagonisti di questa avventura culinaria, le classiche costolette di abbacchio e
            il filetto di baccalà si ergono come irresistibili assaggi di tradizione.
        </p>
        <p class="fs-5 text-start fw-bold">
            Immergiti nella croccantezza delle montanare, veri e propri gioielli fritti che conquistano con ogni morso.
            Se desideri esplorare nuovi confini gustativi, lasciati tentare dai "lingotti" di spaghetti ajo e ojo e dai
            tramezzini-burger fritti, capolavori che sfidano la convenzione. <br>
            Questi sono solo gli aperitivi di un viaggio gastronomico che celebra la maestria dei fritti romani.
        </p>
    </div>

    <!--PIZZARIUM-->
    <div class="container-fluid py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-lg-6">
                <img src="../../../assets/Pizzarium.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Pizzarium</h2>
                <p class="text-start fs-6">
                    Immergiti in un viaggio culinario senza pari e regala al tuo palato l'inaspettato piacere di
                    assaporare i fritti più straordinari a Roma! Se la tua passione è la pizza al taglio, devi
                    assolutamente fare tappa al <strong>Pizzarium</strong> di Gabriele Bonci a Cipro. In questo luogo
                    magico, il maestro
                    panificatore va oltre la semplice rivoluzione della pizza romana, deliziando ogni commensale con la
                    sua ineguagliabile creatività anche nei fritti.
                </p>
            </div>
        </div>
    </div>

    <!--SBANCO-->
    <div class="container-fluid py-5">
        <div class="row flex-row-reverse align-items-center g-5">
            <div class="col">
                <img src="../../../assets/Sbanco.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Sbanco</h2>
                <p class="text-start fs-6">
                    Tuffati in un'esperienza gastronomica avvolta nell'atmosfera unica di <strong>Sbanco</strong>,
                    l'acclamata pizzeria
                    firmata dai talentuosi Stefano Callegari e Marco Pucciotti. Posizionata strategicamente nelle
                    immediate vicinanze di Piazza Zama, questa oasi culinaria è resa ancora più irresistibile
                    dall'ultima aggiunta, Fry Hard. Questo angolo gourmet è un vero paradiso dedicato esclusivamente ai
                    fritti, offrendoti la possibilità di deliziarti con un ventaglio di prelibatezze senza eguali. Dai
                    classici intramontabili come le succulente costolette di abbacchio e il delicato filetto di baccalà,
                    fino alla tradizionale montanara, qui ogni boccone è un'esperienza culinaria indimenticabile.
                </p>
            </div>
        </div>
    </div>

    <!--L'Elementare-->
    <div class="container-fluid py-5">
        <div class="row flex-row align-items-center g-5">
            <div class="col">
                <img src="../../../assets/Elementare.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">L'Elementare</h2>
                <p class="text-start fs-6">
                    Completa il tuo avventuroso viaggio culinario presso la rinomata pizzeria
                    <strong>L'Elementare</strong>, un autentico
                    paradiso gastronomico situato nel cuore di Trastevere. Qui, immergiti in un'esperienza straordinaria
                    con una degustazione della celebre pizza romana sottile, preparata con maestria e passione.
                    L'Elementare si distingue per la sua cucina innovativa e unica, che trasforma la tradizione in
                    capolavori gastronomici. Non lasciarti sfuggire le prelibatezze offerte, come il magnifico
                    "lingotto" di spaghetti ajo e ojo, un'esplosione di sapori e consistenze che ti conquisterà con ogni
                    morso. E per un'esperienza ancora più straordinaria, concediti il tramezzino-burger, un'opera d'arte
                    culinaria avvolta in pane in cassetta e fritta, con un irresistibile ripieno di carne bovina
                    succulenta, formaggio cheddar cremoso, cipolla croccante, cetriolini freschi e salse esclusive.
                </p>
            </div>
        </div>
    </div>

    <!--La casa del supplì-->
    <div class="container-fluid py-5">
        <div class="row flex-row-reverse align-items-center g-5">
            <div class="col">
                <img src="../../../assets/suppli_2.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">La casa del supplì</h2>
                <p class="text-start fs-6">
                    Se stai cercando una deliziosa esperienza culinaria a Roma, la <strong>Casa del Supplì</strong> è una tappa obbligata. 
                    I supplì di La Casa del Supplì sono preparati con ingredienti freschi e di alta qualità, seguendo la 
                    ricetta tradizionale napoletana. Il riso, cucinato con pomodoro, mozzarella e ragù, viene modellato a 
                    mano in palline e poi fritto fino a ottenere una crosta croccante e un cuore filante.
                </p>
            </div>
        </div>
    </div>

</div>