.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}

.link{
  text-decoration: none;
}

.img-fluid{
  border-radius: 10px;
}

.titolo{
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.paragrafo-introduttivo{
  padding-top: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.colosseo{
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.pantheon{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.san-pietro{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.castel-santangelo{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.fontana-di-trevi{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.gianicolo{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}
