<div class="container-fluid">

  <!-- Hero Image-->
  <img src="../assets/rooftop-roma.jpg" alt="" class="img-fluid" style="width: 100%;">

  <!-- Titolo -->
  <div class="titolo">
    <h2 class="fw-bold">Attrazioni da vedere assolutamente</h2>
  </div>

  <div class="paragrafo-introduttivo">
    <p class="fs-5 fw-bold">
      È la prima volta che vieni a Roma? Non preoccuparti, sei in buone mani. Abbiamo creato solo per te una lista di
      attrazioni da vedere assolutamente. In questo modo, puoi scoprire la capitale attraverso i suoi tesori più noti e
      preziosi.
    </p>
    <h3 class="fw-bold">
      Da vedere assolutamente: il Colosseo e i Fori Imperiali
    </h3>
  </div>

  <div class="colosseo">
    <p class="fs-5">
      Visitare Roma senza visitare il Colosseo e i Fori Imperiali è semplicemente inaccettabile. Il Colosseo è uno dei
      monumenti più iconici e importanti, simbolo della storia e della cultura dell'antica Roma e ogni anno ospita
      milioni
      di visitatori da ogni parte del mondo. <br>
      Entrando all'interno del Colosseo e nelle vie dei Fori Imperiali si avrà l'opportunità
      unica di apprendere di più sulla vita quotidiana e le tradizioni degli antichi Romani.
    </p>
  </div>

  <div class="immagini py-3">
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center py-3">
        <div class="col">
          <div class="card" style="border: 0;">
            <img src="../assets/Colosseo-cosa-vedere.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="border: 0;">
            <img src="../assets/colosseo-due.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card fori" style="border: 0;">
            <img src="../assets/arena-colosseo.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card" style="border: 0;">
            <img src="../assets/Fori-Imperiali.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card" style="border: 0;">
            <img src="../assets/fori-interni-due.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card" style="border: 0;">
            <img src="../assets/Fori-interni.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pantheon">
    <h3 class="fw-bold">Il Pantheon</h3>
    <p class="fs-5">
      Il Pantheon è un esempio perfetto di architettura antica mantenutasi fino ad oggi in tutto il suo splendore.
      Originariamente fu costruito come tempio per gli dei dell'antica Roma e successivamente, con l'avvento del cattolicesimo,
      convertito in una chiesa cattolica. Questa transizione ha reso il Pantheon un luogo pieno di storia e significato.
      La cupola del Pantheon è un esempio di design ingegnoso che ha influenzato l'architettura per molti secoli.
      La luce naturale che entra dall'oculus è un altro elemento architettonico che merita di essere ammirato e studiato
      Visitando il Pantheon è possibile imparare molto sulla storia e la cultura dell'antica Roma, aumentarai così il tuo bagaglio
      culturale e amplierai la tua conoscenza sul popolo romano.
    </p>
  </div>

  <div class="immagini py-3">
    <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center">
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/pantheon-due.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/cupola-pantheon.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="san-pietro">
    <h3 class="fw-bold">San Pietro</h3>
    <p class="fs-5">
      San Pietro è una destinazione imperdibile per chiunque visiti Roma, sia che si tratti di un viaggiatore religioso o
      semplicemente interessato alla storia e all'arte. La Basilica di San Pietro progettata da Michelangelo, Bernini e Bramante,
      venne costruita dove San Pietro fu crocifisso.
      La Cupola di Michelangelo, alta più di 136 metri, offre una vista panoramica mozzafiato sulla città di Roma e sui dintorni.
    </p>
  </div>

  <div class="immagini py-3">
    <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center">
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/san-pietro.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/vaticano.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/giardini-vaticani.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: 0;">
          <img src="../assets/san-pietro-interno.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

</div>
