<div class="container-fluid">
    <div class="container-fluid text-center form">
      <div class="container-fluid form">
          <div class="form-check form-check-inline">
            <input class="btn-check" type="checkbox" value="Attrazioni" [(ngModel)]="attrazioniSelected"
              id="defaultCheck1" (change)="deselectOthers('attrazioniSelected')">
            <label class="btn btn-outline-dark filter" for="defaultCheck1">
              Attrazioni
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check" type="checkbox" value="Piazza" [(ngModel)]="piazzeSelected" id="defaultCheck2"
              (change)="deselectOthers('piazzeSelected')">
            <label class="btn btn-outline-dark filter" for="defaultCheck2">
              Piazze
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check" type="checkbox" value="Museo" [(ngModel)]="museiSelected" id="defaultCheck3"
              (change)="deselectOthers('museiSelected')">
            <label class="btn btn-outline-dark filter" for="defaultCheck3">
              Musei
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check" type="checkbox" value="Parco" [(ngModel)]="parchiSelected" id="defaultCheck4"
              (change)="deselectOthers('parchiSelected')">
            <label class="btn btn-outline-dark filter" for="defaultCheck4">
              Parchi
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check" type="checkbox" value="Sito archeologico" [(ngModel)]="sitoarcheologicoSelected" id="defaultCheck5"
              (change)="deselectOthers('sitoarcheologicoSelected')">
            <label class="btn btn-outline-dark filter" for="defaultCheck5">
              Sito archeologico
            </label>
          </div>
      </div>
    </div>


  <div class="container-fluid text-center">
    <div class="container-fluid">
      <div class="form-check">
        <div class="row g-3 justify-content-center attraction-post-container"
          *ngIf="attractionPosts$ | async as attractionPosts">
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let attractionPost of attractionPosts.items; let i = index" [ngClass]="{'d-none': i >= loadedArticlesCount || !((attrazioniSelected && attractionPost.fields.type === 'Attrazioni')
             || (piazzeSelected && attractionPost.fields.type === 'Piazza')
             || (museiSelected && attractionPost.fields.type === 'Museo')
             || (parchiSelected && attractionPost.fields.type === 'Parchi')
             || (sitoarcheologicoSelected && attractionPost.fields.type === 'Sito archeologico')
             || (!attrazioniSelected && !piazzeSelected && !museiSelected && !parchiSelected && !sitoarcheologicoSelected)
            )}">
            <div class="container-fluid text-start">
              <img [src]="attractionPost.fields.featuredImage.fields.file.url" class="img-fluid shadow">
              <h2 class="fs-4 py-1">{{attractionPost.fields.title}}</h2>
              <p>{{attractionPost.fields.summary}}</p>
              <a [routerLink]="['/attractionpost', attractionPost.sys.id]" class="btn btn-outline-dark">Leggi di più</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid page py-5" *ngIf="total">
      <app-pagination [totalItems]="total" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onClick)="changePage($event)">
  
      </app-pagination>
    </div>
  </div>
  <!--
  <div class="text-center mt-3" *ngIf="loadedArticlesCount < totalArticles">
    <button class="btn btn-outline-dark" (click)="loadMoreArticles()">Carica altro</button>
  </div>-->

  
</div>
