<div class="container-fluid py-1">

    <h1 class="display-5 text-center py-5">Le specialità enogastronomiche di Roma</h1>

    <!--Hero image-->
    <img src="../../../assets/spaghetti.webp" class="img-fluid mx-auto d-block shadow" alt="streetfood">

    <div class="container-fluid text-center py-5">
        <p class="fs-5 text-start fw-bold">
            Benvenuti nel cuore della cucina romana, dove ogni piatto racconta la storia millenaria di una tradizione
            gastronomica unica al mondo. La nostra pagina web vi invita a esplorare e gustare l'autenticità dei sapori
            romani, dalle delizie dei primi piatti alle prelibatezze fritte, fino ai dolci che delizieranno il vostro
            palato. Dall'amatriciana alla carbonara, dai supplì ai maritozzi, ogni piatto è un viaggio attraverso le strade
            acciottolate di Roma, catturando l'essenza della cultura culinaria della città eterna. 
        </p>
        <p class="fs-5 text-start fw-bold">
            Siamo lieti di
            presentarvi una selezione impeccabile dei piatti più iconici, preparati con maestria e passione dai nostri
            chef.

            Immergetevi nelle tradizioni culinarie romane, dove la pasta è al dente, i sapori sono intensi e la
            convivialità è di casa. Attraverso le nostre descrizioni dettagliate e accattivanti, vi accompagniamo in un
            percorso culinario che vi farà assaporare la storia, la cultura e l'amore che permeano ogni boccone.
        </p>
        <p class="fs-5 text-start fw-bold">
            Siete pronti per un viaggio gastronomico tra i vicoli e le piazze di Roma? Scegliete il vostro percorso tra
            i primi piatti che raccontano storie antiche, i fritti che catturano l'anima street food della città e i
            dolci che dolcemente vi avvolgeranno in un abbraccio di dolcezza.

            Benvenuti nella nostra osteria virtuale, dove il cibo è una festa e ogni piatto è una celebrazione della
            cucina romana autentica. Buon viaggio nel mondo dei sapori, dei profumi e delle tradizioni di Roma!
        </p>
    </div>

    <!--
    Primi piatti
    -->
    <div class="container-fluid py-3">
        <h2 class="pb-2 border-bottom">Primi piatti</h2>
        <div class="row py-3 row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="feature col">
                <img src="../../../assets/Bucatini.webp" class="img-fluid d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Bucatini all'amatriciana</h3>
                <p>Assaporate l'autenticità dei bucatini all'amatriciana, un piatto romano che incarna la tradizione
                    culinaria della città.
                    I bucatini, con il loro cuore cavo, si abbracciano con un condimento ricco a base di guanciale,
                    pomodoro e pecorino, regalandovi
                    un'esplosione di sapori romani.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Rigatoni.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Rigatoni alla carbonara</h3>
                <p>Deliziate il vostro palato con i rigatoni alla carbonara, un piatto classico che vanta una cremosa
                    salsa arricchita con uova, formaggio
                    pecorino e guanciale croccante. Un'esperienza gustativa imperdibile nel cuore di Roma.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Tonnarelli.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Tonnarelli cacio e pepe</h3>
                <p>Sperimentate l'inconfondibile gusto dei tonnarelli cacio e pepe, un piatto semplice ma straordinario.
                    La pasta al dente si unisce a una
                    salsa cremosa di pecorino e pepe nero, offrendo un'ode al sapore autentico della cucina romana.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Gricia.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Gricia</h3>
                <p>Perfettamente equilibrata tra croccantezza e cremosità, la gricia è un piatto che celebra i sapori
                    del guanciale, del pecorino e del pepe
                    nero. Scoprite il gusto avvolgente di questo primo piatto, un'esperienza culinaria da vivere a Roma.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/pajata.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Rigatoni con la pajata</h3>
                <p>Immergetevi nei sapori intensi dei rigatoni con la pajata, un piatto unico che esalta la cucina
                    romana. La pajata, intestino di vitello
                    cucinato lentamente, si fonde con la pasta creando una sinfonia di gusto che vi conquisterà.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Gnocchi.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Gnocchi alla romana</h3>
                <p>Lasciatevi tentare dalla delicatezza degli gnocchi alla romana, piccole nuvole di semolino coccolate
                    in un abbraccio di burro e parmigiano.
                    Un piatto avvolgente che incarna il comfort food della tradizione romana.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Fettuccine.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Fettuccine all'Alfredo</h3>
                <p>Assaporate la ricchezza delle fettuccine all'Alfredo, una creazione romana celebre in tutto il mondo.
                    La pasta si tinge di una salsa
                    cremosa a base di burro e parmigiano, regalandovi un'esperienza culinaria senza tempo.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Pennette.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Pennette all'arrabbiata</h3>
                <p>Scoprite il lato piccante della cucina romana con le pennette all'arrabbiata. La pasta si sposa con
                    una salsa vibrante di pomodoro,
                    pepe rosso e aglio, creando una combinazione irresistibile di calore e sapore.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Pomodori.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Pomodori con il riso</h3>
                <p>I pomodori con il riso vi invitano a gustare la semplicità e la freschezza della cucina romana.
                    Questo piatto leggero e aromatico
                    vi conquisterà con la sua combinazione di pomodoro, riso e erbe aromatiche.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Carciofo_alla_Giudea.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Carciofo alla Giudia</h3>
                <p>Deliziatevi con il carciofo alla giudia, un antico piatto romano che celebra la croccantezza e il
                    sapore unico di questo ortaggio.
                    Fritto fino a diventare dorato e croccante, il carciofo alla giudia è un capolavoro della cucina
                    romana.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Saltimbocca.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Saltimbocca</h3>
                <p>Deliziatevi con gli irresistibili saltimbocca alla romana, sottili fette di vitello avvolte in
                    prosciutto e aromatizzate con foglie di
                    salvia. Un piatto classico che vi conquisterà per la sua combinazione di sapori intensi e
                    contrastanti.
                </p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Fagioli.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Fagioli con le cotiche</h3>
                <p>Esplorate il comfort food romano con i fagioli con le cotiche, un piatto robusto e saporito che
                    unisce la cremosità dei fagioli
                    all'intensità delle cotiche di maiale. Una delizia per i palati in cerca di autenticità.
                </p>
            </div>
        </div>
    </div>

    <!--
    Fritti
    -->
    <div class="container-fluid py-3">
        <h2 class="pb-2 border-bottom">Fritti</h2>
        <div class="row g-4 py-3 row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div class="feature col">
                <img src="../../../assets/suppli.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Supplì al telefono</h3>
                <p>Immergetevi nell'esperienza croccante dei supplì al telefono, piccoli bocconi di riso fritto che
                    racchiudono al loro interno un cuore filante di mozzarella. Un must assoluto per gli amanti dei
                    sapori street food romani.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/fioriZucca.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Fiori di zucca fritti</h3>
                <p>Deliziatevi con i fiori di zucca fritti, un piatto che esalta la leggerezza e la delicatezza di
                    questo ingrediente. Croccanti all'esterno e morbidi all'interno, i fiori di zucca fritti sono una
                    prelibatezza da gustare a Roma.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Tortellini.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Tortellini fritti Lino</h3>
                <p>Lasciatevi tentare dai tortellini fritti Lino Pinsa, un'interpretazione creativa e irresistibile di
                    un classico della cucina romana. La croccantezza esterna dei tortellini si unisce alla morbidezza
                    del ripieno, regalandovi un'esplosione di gusto.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Trippa.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Trippa fritta</h3>
                <p>Scoprite la trippa fritta, un piatto audace e saporito che cattura l'anima della cucina romana. La
                    trippa, fritta fino a diventare croccante, vi sorprenderà con la sua combinazione di sapori intensi
                    e texture avvolgenti.</p>
            </div>
        </div>
    </div>

    <!--
    Dolci
    -->
    <div class="container-fluid py-3">
        <h2 class="pb-2 border-bottom">Dolci</h2>
        <div class="row g-4 py-3 row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="feature col">
                <img src="../../../assets/maritozzo.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Maritozzo</h3>
                <p>Deliziatevi con il maritozzo, un dolce romano dal cuore soffice e fragrante. Riempito con panna
                    montata, il maritozzo è un'eccellenza della pasticceria romana da gustare in ogni momento della
                    giornata.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Crostata.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Crostata di ricotta e visciole</h3>
                <p>Assaporate la bontà della crostata di ricotta e visciole, un dolce che fonde la cremosità della
                    ricotta con la dolcezza delle visciole. Un'esplosione di gusto che vi conquisterà sin dal primo
                    morso.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Bignè.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Bignè di San Giuseppe</h3>
                <p>Godetevi la leggerezza dei bignè di San Giuseppe, deliziosi dolci farciti con crema pasticcera e
                    ricoperti di zucchero a velo. Un omaggio alla tradizione dolciaria romana che vi conquisterà con la
                    sua semplicità raffinata.</p>
            </div>
        </div>
        <div class="row g-4 py-3 row-cols-1 row-cols-sm-2 row-cols-lg-2">
            <div class="feature col">
                <img src="../../../assets/Pangiallo.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Pangiallo</h3>
                <p>Scoprite il piacere unico del pangiallo, un dolce tipico romano ricco di frutta secca, miele e
                    spezie. Il suo colore dorato e il profumo avvolgente vi trasporteranno in un viaggio culinario
                    attraverso la storia di Roma.</p>
            </div>
            <div class="feature col">
                <img src="../../../assets/Ciambelle.webp" class="img-fluid mx-auto d-block shadow" style="width: 100%;" />
                <h3 class="fs-2 text-body-emphasis">Ciambelle al vino</h3>
                <p>Concludete il vostro pasto con le ciambelle al vino dei Castelli, dolcetti leggeri e fragranti che
                    celebrano l'eccellenza dei vini della regione. Una chiusura perfetta per un'esperienza gastronomica
                    romana indimenticabile.</p>
            </div>
        </div>
    </div>
</div>