<div class="container-fluid text-center">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center attraction-post-container" *ngIf="romainfamigliaPosts$ | async as romainfamigliaPosts">
        <div class="col" *ngFor="let romainfamigliaPosts of romainfamigliaPosts.items">
          <div class="container-fluid text-start">
              <img [src]="romainfamigliaPosts.fields.featuredImage.fields.file.url" class="img-fluid">
              <h2 class="fs-4 py-1">{{romainfamigliaPosts.fields.title}}</h2>
              <p>{{romainfamigliaPosts.fields.summary}}</p>
              <a [routerLink]="['/romainfamigliapost', romainfamigliaPosts.sys.id]" class="btn btn-outline-dark">Leggi di più</a>
          </div>
        </div>
      </div>
    </div>
  </div>
