<div class="container-fluid py-1">

  <p class="fs-4 fw-bold text-start py-5">Giorno 1 - Colosseo e dintorni</p>

  <p class="fs-6 text-start py-3">
    Roma, la città eterna, è una meta irresistibile per le famiglie in cerca di avventure culturali. Con il suo patrimonio storico e artistico senza pari, 
    offre un'esperienza educativa e divertente per grandi e piccini. Se stai pianificando un viaggio a Roma con la tua famiglia, ecco un itinerario dettagliato 
    per il primo giorno che ti porterà alla scoperta dei siti antichi più iconici della città.
  </p>

  <img src="../assets/colosseo-due-1.webp" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Inizia la tua avventura romana con un'immersione nella storia millenaria presso il <a href="/visitrome/attractionpost/4tP9FJb27DtbC5CtIhmswV">Colosseo</a>. Questo antico anfiteatro è un simbolo di grandezza e potenza dell'Impero Romano. 
    Ammira l'architettura maestosa e immagina la vita durante gli spettacoli epici che si svolgevano qui.
  </p>
  <p class="fs-6 text-start">
    Dopo il Colosseo, dirigiti al <a href="/visitrome/attractionpost/5vcsumHciaDJjYRylKVrwD">Foro Romano</a>, il centro politico e sociale 
    dell'antica Roma. Camminando tra le rovine, potrai percepire l'atmosfera vibrante che una volta regnava in questo luogo. Prosegui verso il Palatino, 
    la leggendaria collina dove, secondo la mitologia, Romolo fondò la città di Roma. I panorami mozzafiato ti regaleranno una prospettiva unica sulla città.
  </p>

  <img src="../assets/fontana-di-trevi-due.webp" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Dopo una mattina di immersione nell'antichità, è il momento di scoprire alcune delle piazze e fontane più belle di Roma. Inizia con la <a href="/visitrome/attractionpost/4cHYSKi1Z0DgkdPqnVhcrm">Fontana di Trevi</a>, 
    un capolavoro barocco che incanta con la sua maestosità e il mito legato al lancio delle monete per assicurarsi un ritorno a Roma.
  </p>
  <p class="fs-6 text-start">
    Successivamente, raggiungi <a href="/visitrome/attractionpost/399QDqZve0FkytDDTxntX1">Piazza Navona</a>, famosa per le sue splendide fontane e l'atmosfera vivace. Qui, i bambini possono godersi lo spazio aperto e i 
    numerosi artisti di strada. Passeggia poi fino a Piazza di Spagna, dove potete ammirare la celebre scalinata di Trinità dei Monti e godervi un po' di shopping 
    lungo la famosa <a routerLink="/shopping">Via Condotti</a>.
  </p>

  <img src="../assets/trastevere.webp" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>
  
  <p class="fs-6 text-start">
    La giornata si conclude con una cena in un ristorante tipico romano, dove potrete gustare i sapori autentici della cucina locale. Deliziati con specialità come 
    la pasta cacio e pepe, la carbonara o la tradizionale pizza romana. I ristoranti locali offrono un'esperienza accogliente e familiare, ideale per concludere questa 
    giornata indimenticabile.
  </p>

      <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center py-3">
        <div class="col-sm" *ngFor="let Viaggioinfamiglia of Viaggioinfamiglia">
          <div class="card" style="border: 0;">
            <img src="../assets/{{Viaggioinfamiglia.img}}" class="img-fluid shadow">
          </div>
        </div>
      </div>

</div>