/*Testo del trasporto pubblico*/
.container-fluid.text-center.trasporto.pubblico {
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
}

.img-fluid {
    border-radius: 10px;
}

/*link del sito leonardo express*/
.leonardoexpress {
    text-decoration: none;
}
.leonardoexpress2 {
    text-decoration: none;
}

/*link siti web taxi*/
.taxi {
    text-decoration: none;
}

/*link ai siti web del car sharing*/
.carsharing {
    text-decoration: none;
}

.img-fluid.align-items-lg-center.shadow.mobile {
    display: none;
}

@media (max-width: 820px) {
    .container-fluid.text-center.trasporto.pubblico {
        padding: 0 5%;
    }
}

@media (max-width: 767px) {
    .container-fluid.text-center.trasporto.pubblico {
        padding: 0;
    }
    .table.table-hover.text-start {
        padding: 0;
    }
    .img-fluid.align-items-lg-center.shadow.desktop {
        width: 100%;
        display: none;
    }

    .img-fluid.align-items-lg-center.shadow.mobile {
        width: 100%;
        display: block;
    }
}