.container-fluid.text-center {
    padding-top: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
}
/*
.img-fluid.head {
  padding-left: 5%;
  padding-right: 5%;
}*/

.title{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-6.content.py-3{
  padding-left: 15%;
  padding-right: 15%;
}

.img-fluid {
  border-radius: 2.5%;
}
