<div class="container-fluid text-center">
  <div class="col" *ngIf="blogPost$ | async as blogPost">
    <!--Container per i post del blog-->
    <!--Thanks to dev Ciro De Cristoforo -> Link his github https://github.com/CirodeCristofaro-->
    <div class="container-fluid text-start">
      <img [src]="blogPost.fields.featuredImage.fields.file.url" class="img-fluid">
      <h2>{{blogPost.fields.title}}</h2>
        <p class="fs-5 content" >
          <markdown ngPreserveWhitespaces>
            {{blogPost.fields.content}}
          </markdown>
        </p>
    </div>
  </div>
</div>

