.container-fluid.text-center {
    padding-top: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.img-fluid.head {
  padding-left: 5%;
  padding-right: 5%;
}

.title{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-5.content{
  padding-left: 5%;
  padding-right: 5%;
}

.img-fluid {
  border-radius: 2.5%;
}
