<div class="container-fluid py-1">

  <p class="fs-4 fw-bold text-start py-5">Giorno 2 - Storia e panorami incantevoli</p>

  <p class="fs-6 text-start py-3">
    Benvenuti nel terzo giorno della vostra avventura a Roma, in cui esploreremo l'antica storia della città, solcheremo
    le acque serene del Tevere
    e ci godremo una cena indimenticabile con vista panoramica.
  </p>

  <img src="../assets/CircoMassimo.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Iniziate la giornata con una visita all'antico Circo Massimo, un sito che una volta risuonava del fragore delle
    corse dei carri nell'antica Roma.
    Camminate lungo l'ampio spazio, immaginandovi le epiche gare che si svolgevano qui molti secoli fa.
    Non solo fisicamente ma anche in realtà aumentata. Grazie ad un
    <a
      href="https://museiincomuneroma.vivaticket.it/it/tour/circo-maximo-experience/2513?qubsq=66313f47-0341-43f7-b012-d84ae291175c&qubsp=e5d97389-979b-4a82-991f-78944a9ec4e8&qubsts=1692367279&qubsc=bestunion&qubse=vivaticketserver&qubsrt=Safetynet&qubsh=a8e27342d7c8e06f11c7c67c30b86ed4">innovativo
      progetto</a>
    di valorizzazione, è ora possibile esplorare il Circo Massimo in tutte le sue fasi storiche, sfruttando tecnologie
    interattive di visualizzazione
    mai utilizzate prima in un'area all'aperto così vasta.
  </p>
  <p class="fs-6 text-start">
    Successivamente, dirigetevi a Piazza Venezia, dove svetta l'imponente Monumento Nazionale, comunemente chiamato
    Vittoriano.
    Questa struttura maestosa celebra l'unità d'Italia ed è anche nota come Altare della Patria. Ammirate la grandiosità
    dell'architettura e
    godetevi una vista spettacolare sulla città dall'alto.
  </p>

  <img src="../assets/terrazzaVittoriano.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Nel pomeriggio, concedetevi una pausa rilassante mentre vi avventurate in una gita in barca sul Tevere. Questo fiume
    iconico attraversa il cuore di Roma
    e offre una prospettiva unica sulla città. Ammirate i ponti affascinanti e gli edifici storici che si riflettono
    nell'acqua calma,
    creando un'atmosfera incantevole che vi farà dimenticare il trambusto cittadino.
  </p>

  <img src="../assets/lungotevere.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Per concludere questa giornata straordinaria, gustate una cena memorabile in un ristorante situato sul tetto di un
    hotel,
    da cui potrete ammirare le luci scintillanti di Roma che si estendono sotto di voi. La vista panoramica vi regalerà
    uno spettacolo di panorami incantevoli,
    dalla maestosità delle antiche rovine all'energia vivace delle strade della città.
  </p>

  <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center py-3">
    <div class="col" *ngFor="let Viaggioinfamiglia of Viaggioinfamiglia">
      <div class="card" style="border: 0;">
        <img src="../assets/{{Viaggioinfamiglia.img}}" class="img-fluid">
      </div>
    </div>
  </div>

</div>