<div class="container-fluid text-center">
    <div class="col" *ngIf="concertPosts$ | async as concertPost">
    <div class="row-attraction-post-container">
        <div class="container-fluid text-start">
          <h2 class="py-3">{{concertPost.fields.title}}</h2>
            <img [src]="concertPost.fields.featuredImage.fields.file.url" class="img-fluid py-3">
            <p class="fs-6 content py-3">
                <markdown ngPreserveWhitespaces>
                  {{concertPost.fields.content}}
                </markdown>
              </p>
            <p class="fs-6 location py-1">
              <markdown ngPreserveWhitespaces>
                {{concertPost.fields.location}}
              </markdown>
             </p>
             <p class="fs-6 location py-1">
              <markdown ngPreserveWhitespaces>
                {{concertPost.fields.email}}
              </markdown>
             </p>
             <p class="fs-6 location py-1">
              <markdown ngPreserveWhitespaces>
                {{concertPost.fields.website}}
              </markdown>
             </p>
             <p class="fs-6 location py-1">
              <markdown ngPreserveWhitespaces>
                {{concertPost.fields.phone}}
              </markdown>
             </p>
        </div>
    </div>
</div>
</div>
