/*.navbar.m-lg-auto.navbar-expand-lg.navbar-light.bg-white{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}*/

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.colosseum-digital-art{
  border-radius: 10px;
}

.link{
  text-decoration: none;
  color: black;
}

.form-control:focus {
  box-shadow: none;
  border-color: none;
}
