<!-- place navbar here -->
<nav class="navbar m-lg-auto navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="index.html">Visit.Rome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cosa Fare</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/romapass">Roma Pass</a></li>
            <li><a class="dropdown-item" href="">Attrazioni</a></li>
            <li><a class="dropdown-item" href="">Mostre</a></li>
            <li><a class="dropdown-item" href="">Vita notturna</a></li>
            <li><a class="dropdown-item" href="">Roma in famiglia</a></li>
            <li><a class="dropdown-item" href="">Shopping</a></li>
            <li><a class="dropdown-item" routerLink="/blog">Blog</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Calendario</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="">Concerti</a></li>
            <li><a class="dropdown-item" href="">Cinema</a></li>
            <li><a class="dropdown-item" href="">Mostre</a></li>
            <li><a class="dropdown-item" href="">Vita notturna</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pianifica il tuo viaggio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/comearrivare">Come arrivare</a></li>
            <li><a class="dropdown-item" routerLink="/muoversiaroma">Muoversi per Roma</a></li>
            <li><a class="dropdown-item" href="">I nostri itinerari</a></li>
            <li><a class="dropdown-item" href="">Tourist Infopoint</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/romapass">Info</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

  <!--Footer-->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a routerLink="/faq" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  </div>
  