<div class="container-fluid">
  <!-- place navbar here -->
  <nav class="navbar m-lg-auto navbar-expand-md navbar-light bg-white">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/colosseum-digital-art.png" class="colosseum-digital-art" width="38" height="30">
        Visit.Rome
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown disabled px-2" *ngFor="let item of items">
            <a class="nav-link dropdown-toggle disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="color: black;">{{item.name}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subitem of item.subitems"><a class="dropdown-item"
                  [routerLink]="subitem.route">{{subitem.name}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>

  <!--Footer-->
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="index.html" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="../assets/colosseum-digital-art.png" alt="visitrome" width="58" height="50"
            style="border-radius: 10px;">
        </a>
      </div>
      <div class="col mb-3" *ngFor="let footer of footers">
        <h5>{{footer.name}}</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" *ngFor="let subitem of footer.subitems"><a class="dropdown-item"
              [routerLink]="subitem.route">{{subitem.name}}</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <section class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
    <div class="container-fluid d-flex justify-content-center">
      <div class="list-group list-group-horizontal text-center">
        <li class="list-group px-3"><a class="link"
            href="https://docs.google.com/document/d/1pzf5hNJ_kftEwngCpjIq_ftemJ0tdjyE3Kv90lvFPzs/edit">Privacy
            policy</a></li>
        <li class="list-group px-3"><a class="link"
            href="https://docs.google.com/document/d/1ZOug3ne4S2GJWnD_yT8veSDZMagfgtj0s6AoQYvMvUM/edit">Copyright</a>
        </li>
        <p>&copy; 2023 Visitrome, Inc. All rights reserved.</p>
      </div>
    </div>
  </section>
</div>
