<div class="container-fluid py-1">

  <p class="fs-4 fw-bold text-start py-5">Giorno 1 - Alla scoperta dei tesori antichi e delle piazze iconiche</p>

  <p class="fs-6 text-start py-3">
    Benvenuti in un viaggio virtuale attraverso le meraviglie senza tempo della Città Eterna! In questo itinerario, vi
    porteremo
    in un'avventura attraverso alcune delle attrazioni più iconiche di Roma. Dalle antiche rovine ai vivaci ritrovi
    urbani,
    c'è tanto da esplorare in questa città intrisa di storia e cultura.
  </p>

  <img src="../assets/pantheon-2.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    La vostra giornata inizia con una visita al maestoso <a
      href="/visitrome/attractionpost/2CjqmzUIZW4QtuUAo8CPRv">Pantheon</a>,
    un gioiello architettonico risalente al II secolo d.C.
    Questo tempio romano, dedicato a diverse divinità, è celebre per la sua cupola impressionante e l'ingresso
    illuminato dalla "Rotonda",
    un'apertura circolare nel soffitto. <br>
    Ammirate l'ingegnosità di ingegneri antichi che hanno realizzato questa struttura maestosa, testimone del genio
    dell'antica Roma.
  </p>
  <p class="fs-6 text-start">
    Proseguite verso <a href="/visitrome/attractionpost/399QDqZve0FkytDDTxntX1">Piazza Navona</a>, un affascinante
    spazio pubblico circondato da edifici eleganti
    e ornato da tre fontane, tra cui la celebre Fontana dei Quattro Fiumi. La piazza è una testimonianza dell'abilità
    artistica del periodo barocco e offre
    l'opportunità perfetta per immergersi nella vita cittadina.
  </p>

  <img src="../assets/piazzaNavona.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Nel pomeriggio, la vostra avventura vi guida attraverso alcune delle piazze più affascinanti della città. Iniziate
    la vostra passeggiata alla
    <a href="/visitrome/attractionpost/4cHYSKi1Z0DgkdPqnVhcrm">Fontana di Trevi</a>, un capolavoro barocco che incanta i
    visitatori con la sua
    sontuosa cascata d'acqua. Si dice che gettare una moneta nella fontana assicuri il ritorno a Roma, un'usanza che ha
    contribuito a finanziare opere di beneficenza.
  </p>
  <p class="fs-6 text-start">
    L'itinerario prosegue alla <a href="/visitrome/attractionpost/31o5XrkuqlOWbygJ5z5dF7">Piazza di Spagna</a>, dove troverete la famosa che vi porterà 
    a Trinitò dei monti. 
    Questa scalinata maestosa
    conduce alla Chiesa
    di Trinità dei Monti e offre una vista panoramica spettacolare sulla città. È anche un luogo ideale per fare una
    pausa e godersi l'atmosfera vibrante di Roma.
  </p>

  <img src="../../assets/piazzadispagna-1.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">

  <span><br></span>

  <p class="fs-6 text-start">
    Nella serata, concedetevi una cena indimenticabile in uno dei ristoranti tipici romani. Lasciatevi tentare dai
    sapori autentici della cucina locale, che spazia da pasta fresca a piatti di carne succulenti. Gustatevi i profumi e
    i sapori che riflettono la ricca tradizione culinaria di Roma, mentre immergetevi nell'atmosfera accogliente e
    rilassata di un autentico ristorante.
  </p>

  <div class="row row-cols-1 row-cols-md-2 g-2 justify-content-center py-3">
    <div class="col-sm" *ngFor="let Viaggioinfamiglia of Viaggioinfamiglia">
      <div class="card" style="border: 0;">
        <img src="../assets/{{Viaggioinfamiglia.img}}" class="img-fluid shadow">
      </div>
    </div>
  </div>

</div>