<!--Definisci bene il layout della pagina-->
<div class="container-fluid">

  <!--======-->
  <!--Titolo-->
  <!--======-->

  <h1 class="text-center fs-1 py-5">Shopping a Roma</h1>

  <!--==========-->
  <!--Hero image-->
  <!--==========-->

  <div class="container-fluid-hero">
    <img src="../assets/Shopping.png" class="img-fluid align-items-lg-center shadow" />
  </div>

  <div class="container-fluid-test text-center py-5">

    <!--=====================================-->
    <!--Paragrafi introduttivi sullo shopping-->
    <!--=====================================-->

    <p class="fw-bold fs-5 text-start">
      Stai cercando dove fare un po' di shopping a Roma? Troverai tutto quello che desideri! La città ha molti
      quartieri, ognuno dei quali con il proprio vibe.
    </p>
    <p class="text-start fs-5 py-2">
      Iniziamo in <strong>centro</strong>, dove ti aspettano negozi di ogni tipo e <strong>boutique esclusive</strong>.
      Per il lusso, che sia italiano o meno,
      dirigiti verso Piazza di Spagna tramite Via dei Condotti o percorrendo Via del Babuino, troverai tutti i marchi
      più famosi.
      Non dimenticare di fare una piccola deviazione attraverso Via del corso e tutte le altre vie limitrofe piene di
      grandi e piccoli negozi.
      Ce n'è davvero per tutti i gusti e per tutte le tasche!
    </p>
    <p class="text-start fs-5 py2">
      La tua giornata di shopping non può essere completa senza una visita nei grandi centri commerciali (molto
      convenienti, specialmente
      quando si avvicina l'autunno). Se sei un amante dei grandi marchi ti invitiamo a visitare i nostri due outlet:
      <a href="https://www.mcarthurglen.com/it/outlets/it/designer-outlet-castel-romano/dove-siamo/">Designer Outlet
        Castel Romano</a> e
      <a href="https://www.valmontoneoutlet.com/dove-siamo/">valmontoneoutlet</a>.
    </p>

    <!--==================-->
    <!--Shopping in centro-->
    <!--==================-->

    <!--Shopping a Via del corso-->
    <h2 class="text-start fs-2 fw-bold py-5">Il centro città</h2>

    <h3 class="text-start fs-3 fw-bold">Via del Corso</h3>
    <p class="text-start fs-5 py-1">
      Le grandi città come Parigi o New York hanno le loro vie in cui fare shopping e Roma con la sua Via del Corso e
      tutte le vie parallele e adiacenti
      ad essa, non ha nulla da invidiare alle altre grandi capitali.
    </p>
    <p class="text-start fs-5 py-1">
      <strong>Da non perdere</strong>: AX Armani Exchange, Guess, Diesel, Fendi, Polo Ralph Loren, Louis Vuitton, Luisa
      Spagnoli, Suite Benedict, Doppelganger, Gutteridge.
    </p>

    <img src="../assets/viadelcorso.jpg" class="img-fluid align-items-lg-center" />


    <h3 class="text-start fs-3 fw-bold py-3">Via dei Condotti</h3>
    <p class="text-start fs-5 py-1">
      Le grandi città come Parigi o New York hanno le loro vie in cui fare shopping e Roma con la sua Via del Corso e
      tutte le vie parallele e adiacenti
      ad essa, non ha nulla da invidiare alle altre grandi capitali.
    </p>
    <p class="text-start fs-5 py-1">
      <strong>Da non perdere</strong>: Max&Co, Tudor, Dolce e Gabbana, Omega, Michael Kors, Rolex, Tiffany, Max Mara,
      Hermes, Jimmy Choo, Giorgio Armani, Bvlgari, Prada, Gucci, Moncler.
    </p>

    <img src="../assets/viacondotti.jpg" class="img-fluid align-items-lg-center" />
  </div>


  <div class="container-fluid text-center">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center attraction-post-container"
        *ngIf="shoppingPosts$ | async as shoppingPosts">
        <div class="col" *ngFor="let shoppingPost of shoppingPosts.items">
          <div class="container-fluid text-start">
            <img [src]="shoppingPost.fields.featuredImage.fields.file.url" class="img-fluid">
            <h2 class="fs-4 py-1">{{shoppingPost.fields.title}}</h2>
            <p>{{shoppingPost.fields.summary}}</p>
            <a [routerLink]="['/shoppingpost', shoppingPost.sys.id]" class="btn btn-outline-dark">Leggi di più</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>