<div class="container-fluid">
  <!--Hero image-->
  <img src="../assets/Scopri-Roma.png" class="img-fluid align-items-center shadow" />

  <!--Card Info-->
  <div class="container-fluid " id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-4 justify-content-center g-4 py-5">
      <div class="col" *ngFor="let iconInfo of Romapass">
        <div class="card card-cover border-0">
          <div class="d-flex flex-column h-100 p-4 pb-2 text-shadow-1">
            <img src="../assets/{{iconInfo.img}}" class="img-fluid mx-auto d-block">
            <p class="fs-4 fw-bold text-center">{{iconInfo.titolo}}</p>
            <p class="pt-2 fs-6 text-center">{{iconInfo.testo}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--Divisione delle carte in colonne-->
    <div class="row row-cols row-cols-md-3 g-3 justify-content-center">
      <div class="col-sm">
        <div class="card" style="border: 0;">
          <img src="../assets/romacard.png" class="img-responsive">
          <!--Caratteristiche Roma Pass 48-->
          <ul class="list-group list-group-flush">
            <li class="list-group py-1">Primo museo o sito archeologico o esperienza incluso</li>
            <li class="list-group py-1">A partire dal secondo museo o sito archeologico o esperienza è previsto
              l'ingresso con tariffa ridotta</li>
            <li class="list-group py-1">Accesso gratuito illimitato al trasporto pubblico per tutta la validità del pass
            </li>
            <li class="list-group py-1">Sconti e prezzi ridotti per mostre, attrazionin e servizi turistici</li>
            <li class="list-group py-1">Modalità di prenotazione per i musei o siti archeologici dedicata</li>
            <li class="list-group py-1">Accesso gratuito ai servizi igienici custoditi dalla rete <a
                href="https://pstop.it/" class="pstop">P.Stop</a></li>
            <li class="list-group py-1">Valida 48 ore dalla prima validazione su musei e mezzi pubblici</li>
          </ul>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center py-3">
          <a href="https://www.romapass.it/it/acquista/" class="btn btn-outline-primary btn-lg px-4 me-md-2"
            role="button" aria-pressed="true">Acquista ora</a>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="border: 0;">
          <img src="../assets/romacarddue.png" class="img-responsive">
          <!--Caratteristiche Roma Pass 72-->
          <ul class="list-group list-group-flush">
            <li class="list-group py-1">I primi due musei o siti archeologici o esperienze incluse</li>
            <li class="list-group py-1">A partire dal terzo museo o sito archeologico o esperienza è previsto l'ingresso
              con tariffa ridotta</li>
            <li class="list-group py-1">Accesso gratuito illimitato al trasporto pubblico per tutta la validità del pass
            </li>
            <li class="list-group py-1">Sconti e prezzi ridotti per mostre, attrazionin e servizi turistici</li>
            <li class="list-group py-1">Modalità di prenotazione per i musei o siti archeologici dedicata</li>
            <li class="list-group py-1">Accesso gratuito ai servizi igienici custoditi dalla rete <a
                href="https://pstop.it/" class="pstop">P.Stop</a></li>
            <li class="list-group py-1">Valida 72 ore dalla prima validazione su musei e mezzi pubblici</li>
          </ul>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center py-3">
          <a href="https://www.romapass.it/it/acquista/" class="btn btn-outline-primary btn-lg px-4 me-md-2"
            role="button" aria-pressed="true">Acquista ora</a>
        </div>
      </div>
    </div>

    <p class="fs-1 text-center romapass py-5">Info utili</p>
    <!--Informazioni aggiuntive su Roma Pass-->
    <p class="text-start romapassdescription py-1 fs-6">Roma Pass 48 Hours e Roma Pass 72 Hours,
      sono le card turistico-culturale promosse da Roma Capitale e dal Ministero dei Beni Culturali.
      Offrono agevolazioni economiche e servizi per garantire ai turisti un'ottima esperienza durante il loro soggiorno
      a Roma.
      Per l'intera durata del pass, si ha accesso gratuito e illimitato a tutti i mezzi di trasporto inclusi
      nell'offerta. È valido su tutti i mezzi gestiti da Atac, autobus, tram, linee A, B, B1 e C
      della metropolitana, ferrovie Roma-Lido, Roma Flaminio Piazza del Popolo-Viterbo, fino a Sacrofano, e
      Roma-Giardinetti, la linea bus ATAC 720 da e per l'Aeroporto di Ciampino con arrivo e/o partenza
      dal piazzale della stazione Laurentina Metro B (corsia 6) e la linea 520 da e per l'Aeroporto di Ciampino con
      arrivo e/o partenza dalle Stazioni Metro A Subaugusta (Capolinea - piazzale antistante
      la fermata) e Cinecittà.
      Si ricorda inoltre che è importante verificare, tramite i siti web ufficiali, se i luoghi di proprio interesse
      siano aperti e accettino il servizio di Roma Pass
    </p>
  </div>