.container-fluid {
    margin: 0 auto;
    padding: 1% 10%;
    box-sizing: border-box;
}

.img-fluid {
    border-radius: 10px;
}

.container.py-5 {
    padding: 0;
}
.row.flex-lg-row.align-items-center.g-5 {
    padding: 0;
}

@media (max-width: 1135px) {
    .container.py-5 {
        padding: 0;
    }

}


@media (max-width: 820px) {
    .container-fluid {
        padding: 0 2.5%;
    }
}

@media (max-width: 744px) {
    .container.px-4.py-5 {
        padding: 0;
    }

}

@media (max-width: 767px) {
    .container-fluid {
        padding: 0;
    }


}
