<div class="container-fluid">

    <!--Hero image-->
    <img src="../../assets/giardini.jpg" class="img-fluid shadow" alt="">

    <!--Titolo-->
    <h2 class="display-4 py-3">I giardini di Roma</h2>

    <!--Paragrafo introduttivo-->
    <p class="fs-6">
        Benvenuti nella nostra guida ai meravigliosi giardini di Roma, dove la natura e la bellezza si fondono in un
        abbraccio perfetto.
        Scoprite le gioie e le meraviglie di questi spazi verdi unici, che offrono rifugio e ispirazione in mezzo
        alla
        vivace città eterna.
    </p>




    <!--Villa borghese-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/villaBorghese.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="900" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Villa Borghese un paradiso artistico</h2>
                <p class="text-start fs-6">
                    Situata nel cuore di Roma, Villa Borghese è una testimonianza di eleganza e arte paesaggistica.
                    Questo giardino storico offre una
                    vasta collezione di statue, fontane e percorsi panoramici. Esplorate la sua bellezza senza tempo e
                    immergetevi nelle opere d'arte
                    create dall'uomo e dalla natura.
                </p>
            </div>
        </div>
    </div>

    <!--Giardini vaticani-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/giardiniVaticani.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Giardini Vaticani dove fede e natura si fondono</h2>
                <p class="text-start fs-6">
                    I Giardini Vaticani, conosciuti anche come "il polmone verde" della Città del Vaticano, sono un
                    simbolo di tranquillità e
                    spiritualità. Godetevi una passeggiata serena tra piante lussureggianti e fiori colorati, mentre
                    ammirate scorci unici della
                    Basilica di San Pietro e della Cupola di Michelangelo.
                </p>
            </div>
        </div>
    </div>

    <!--Giardino degli aranci-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/giardinoDegliAranci.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Giardino degli Aranci Vedute Mozzafiato sull'Urbe</h2>
                <p class="text-start fs-6">
                    Nascosto sulla cima del colle Aventino, il Giardino degli Aranci offre una vista panoramica
                    mozzafiato sulla città di Roma.
                    Camminate tra gli alberi di arancio e godetevi l'atmosfera romantica di questo luogo, ideale per una
                    passeggiata al tramonto.
                </p>
            </div>
        </div>
    </div>

    <!--Parco degli acquedotti-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/ParcoDegliAcquedotti.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Parco degli Acquedotti storia e natura in armonia</h2>
                <p class="text-start fs-6">
                    Il Parco degli Acquedotti porta i visitatori indietro nel tempo con gli antichi acquedotti romani
                    che fanno da sfondo a questo
                    paesaggio verde. Questo parco è un luogo ideale per una corsa mattutina o una tranquilla passeggiata
                    nel contesto storico della Roma antica.
                </p>
            </div>
        </div>
    </div>

    <!--Villa Ada-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/VillaAda.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Villa Ada un incanto naturale</h2>
                <p class="text-start fs-6">
                    Villa Ada è un rifugio naturale per chi cerca pace e relax. Questo giardino offre laghetti, sentieri
                    ombreggiati e ampie aree verdi
                    perfette per un picnic o un momento di tranquillità lontano dalla frenesia della città.
                </p>
            </div>
        </div>
    </div>

    <!--Villa Doria Pamphilj-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/villaPamphilj.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Villa Doria Pamphilj grandiosità barocca e natura rigogliosa</h2>
                <p class="text-start fs-6">
                    Esplorate l'opulenza del periodo barocco in mezzo alla natura incontaminata di Villa Doria Pamphilj.
                    Questo giardino offre giardini formali,
                    fontane scintillanti e una serie di sentieri che conducono a scoperte affascinanti.
                </p>
            </div>
        </div>
    </div>

    <!--Roseto Comunale-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/Roseto.jpg" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 5px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Roseto Comunale un'esplosione di colori e profumi</h2>
                <p class="text-start fs-6">
                    Il Roseto Comunale è un omaggio alla bellezza delle rose. Questo giardino è un vero spettacolo
                    sensoriale con migliaia di varietà di rose
                    in fiore, offrendo una gamma di colori e profumi mozzafiato da ammirare.
                </p>
            </div>
        </div>
    </div>

    <!--Laghetto dell'EUR-->
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/eur-1.jpg" class="d-block mx-lg-auto img-fluid shadow" style="border-radius: 5px;"
                    alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Laghetto dell'EUR rifugio tranquillo</h2>
                <p class="text-start fs-6">
                    Il Laghetto dell'EUR è un'oasi di pace circondata dall'architettura moderna del quartiere EUR.
                    Godetevi
                    una passeggiata rilassante intorno
                    al lago, affondando nella quiete di questo angolo affascinante di Roma.
                    Esplorate questi tesori verdi e lasciatevi incantare dalla fusione di natura e cultura che i
                    giardini di
                    Roma offrono. Ogni giardino
                    ha la sua storia unica da raccontare e la sua bellezza da condividere con i visitatori.
                </p>
            </div>
        </div>
    </div>

</div>