<div class="container-fluid py-1">

    <h1 class="display-5 text-center py-5">Lo street food romano</h1>

    <!--Hero image-->
    <img src="../../../assets/Carciofo_alla_Giudea.webp" class="img-fluid mx-auto d-block shadow" alt="streetfood">

    <div class="container-fluid text-center py-5">
        <p class="fs-5 text-start fw-bold">
            Immergiti in un'esperienza gastronomica irresistibile con il nostro carciofo fritto, un piatto che incarna
            la perfezione del croccante. I carciofi vengono scelti con cura, rivestiti di una
            leggera pastella segreta e immersi nell'olio bollente fino a raggiungere una croccantezza dorata.
        </p>
        <p class="fs-5 text-start fw-bold">
            Il risultato è un capolavoro di contrasti, dove l'esterno croccante abbraccia l'interno tenero del carciofo.
            Gusta il delizioso equilibrio di sapori e la gioia del croccante con il nostro carciofo fritto, un'ode alla
            cucina che lascia un'impronta indimenticabile sul tuo palato.
        </p>
    </div>

    <!--L0’ Steria-->
    <div class="container-fluid py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-lg-6">
                <img src="../../../assets/Steria.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">L0’ Steria</h2>
                <p class="text-start fs-6">
                    L0’ Steria, situato in via dei Prati della Farnesina, 61, è un'autentica perla nella scena della
                    movida di Roma Nord, presentando una reinterpretazione moderna della classica trattoria. Guidato
                    dallo chef-patron Luca Ogliotti, il ristorante si distingue per la sua selezione di ingredienti
                    provenienti da Ladispoli, noto per essere uno dei territori più rinomati per la produzione di
                    carciofi. Con un tocco contemporaneo, L0’ Steria offre un'esperienza culinaria unica che fonde la
                    tradizione con la modernità.
                </p>
            </div>
        </div>
    </div>

    <!--Tram Tram-->
    <div class="container-fluid py-5">
        <div class="row flex-row-reverse align-items-center g-5">
            <div class="col">
                <img src="../../../assets/Carciofo.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Tram Tram</h2>
                <p class="text-start fs-6">
                    Tram Tram, ubicato in via dei Reti, 46, è una trattoria gestita con amore dalla famiglia, che con
                    appassionata dedizione porta avanti la tradizione della cucina popolare a San Lorenzo. Qui, si
                    mescolano con successo le radici della tradizione romana e pugliese, creando un autentico melting
                    pot culinario. L'atmosfera da bistrot completa l'esperienza, offrendo un connubio irresistibile di
                    sapori e tradizioni.
                </p>
            </div>
        </div>
    </div>

    <!--Pecorino-->
    <div class="container-fluid py-5">
        <div class="row flex-row align-items-center g-5">
            <div class="col">
                <img src="../../../assets/Pecorino.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Pecorino</h2>
                <p class="text-start fs-6">
                    Se stai cercando un luogo dove gustare autentica cucina romana e sentirti accolto come a casa,
                    Pecorino è la tua destinazione ideale.
                    Il vero punto forte di Pecorino è la celebrazione dei carciofi, in particolare quelli fritti. Ogni
                    mese, la famiglia crea piatti unici, mettendo in risalto la versatilità di questo delizioso
                    ingrediente. Da febbraio con i Maltagliati con i Carciofi, ad aprile con la Coratella di abbacchio
                    con carciofi, l'amore per questo ortaggio è evidente in ogni specialità. Qui, ogni boccone è una
                    celebrazione della freschezza e della bontà degli ingredienti, e i carciofi fritti sono la vera
                    stella del menu.
                </p>
            </div>
        </div>
    </div>

    <!--La casa del supplì-->
    <div class="container-fluid py-5">
        <div class="row flex-row-reverse align-items-center g-5">
            <div class="col">
                <img src="../../../assets/Enzo.webp" class="d-block mx-lg-auto img-fluid shadow"
                    style="border-radius: 10px;" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6">Da Enzo</h2>
                <p class="text-start fs-6">
                    Da Enzo, situato in via dei Vascellari, 29, è diventato un punto di riferimento per gli amanti della
                    cucina tradizionale. Qui, la maestria culinaria si esprime attraverso l'uso attento di materie prime
                    di alta qualità, trasformate in piatti genuinamente deliziosi. I carciofi, prelibati e disponibili
                    solo durante la stagione, provengono direttamente dall'agro romano, conferendo ai piatti un tocco di
                    freschezza e autenticità. Un indirizzo imperdibile per chi desidera assaporare la vera essenza della
                    cucina tradizionale romana.
                </p>
            </div>
        </div>
    </div>

</div>