<div class="container-fluid py-1">

    <p class="fs-4 fw-bold text-start py-5">Giorno 2 - Arte, natura e storia antica</p>
  
    <p class="fs-6 text-start py-3">
      Benvenuti nel secondo capitolo della vostra avventura romana, una giornata che vi porterà a esplorare il patrimonio artistico, 
      la tranquilla bellezza naturale e l'antica grandezza della Città Eterna.
    </p>
  
    <img src="../assets/vatican.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">
  
    <span><br></span>
  
    <p class="fs-6 text-start">
      La vostra giornata inizia con una visita ai rinomati Musei Vaticani, una raccolta straordinaria di opere d'arte e tesori storici. 
      Ammirate le maestose stanze affrescate, le collezioni di sculture e manufatti preziosi provenienti da diverse epoche e parti del mondo.
    </p>
    <p class="fs-6 text-start">
      Il culmine di questa visita è la Cappella Sistina, un capolavoro assoluto di Michelangelo. Il soffitto affrescato e il famoso Giudizio Universale 
      vi lasceranno senza parole, offrendo una prospettiva unica sulla grandezza artistica e spirituale.
    </p>
  
    <img src="../assets/CappellaSistina.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">
  
    <span><br></span>
  
    <p class="fs-6 text-start">
      Nel pomeriggio, immergetevi nella tranquillità di Villa Borghese, un'ampia area verde nel cuore di Roma. I suoi giardini ben curati, 
      le fontane e i viali ombreggiati offrono un rifugio dalla frenesia della città. Passeggiate tra la natura rigogliosa e godetevi la vista 
      panoramica sulla città. Successivamente, dirigetevi alla Galleria Borghese, una collezione d'arte di straordinaria bellezza. 
      Qui potrete ammirare opere di artisti del calibro di Caravaggio, Bernini e Raffaello, immergendovi in un mondo di estro artistico e innovazione.
    </p>
  
    <img src="../assets/GalleriaBorghese.jpg" class="img-fluid mx-auto d-block shadow" alt="itinerari">
  
    <span><br></span>
    
    <p class="fs-6 text-start">
      Per concludere questa giornata memorabile, immergetevi nell'atmosfera suggestiva di una cena in un ristorante con vista sul Colosseo. 
      Ammirate il Colosseo illuminato mentre gustate prelibatezze culinarie italiane. Questo antico anfiteatro, simbolo della Roma imperiale, 
      rappresenta una connessione tangibile con la storia millenaria della città. La vista sarà il culmine perfetto di un giorno ricco di scoperte e bellezza.
    </p>
  
        <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center py-3">
          <div class="col" *ngFor="let Viaggioinfamiglia of Viaggioinfamiglia">
            <div class="card" style="border: 0;">
              <img src="../assets/{{Viaggioinfamiglia.img}}" class="img-fluid">
            </div>
          </div>
        </div>
  
  </div>