.container-fluid.text-center {
    padding-top: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
}

.fs-5.content.py-3{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-5.location.py-1{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-5.email.py-1{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-5.website.py-1{
  padding-left: 5%;
  padding-right: 5%;
}

.fs-5.phone.py-1{
  padding-left: 5%;
  padding-right: 5%;
}