<div class="container-fluid text-center">
  <div class="col" *ngIf="attractionPosts$ | async as attractionPost">
    <div class="row-attraction-post-container">
      <div class="container-fluid text-start">
        <h2 class="py-3">{{attractionPost.fields.title}}</h2>
        <img [src]="attractionPost.fields.featuredImage.fields.file.url" class="img-fluid py-3">
        <p class="fs-6 content py-3">
          <markdown ngPreserveWhitespaces>
            {{attractionPost.fields.content}}
          </markdown>
        </p>
        <p class="fs-6 location py-1">
          <markdown ngPreserveWhitespaces>
            {{attractionPost.fields.location}}
          </markdown>
        </p>
        <p class="fs-6 email py-1">
          <markdown ngPreserveWhitespaces>
            {{attractionPost.fields.email}}
          </markdown>
        </p>
        <p class="fs-6 website py-1">
          <markdown ngPreserveWhitespaces>
            {{attractionPost.fields.website}}
          </markdown>
        </p>
        <p class="fs-6 phone py-1">
          <markdown ngPreserveWhitespaces>
            {{attractionPost.fields.phone}}
          </markdown>
        </p>
      </div>
    </div>
  </div>
</div>
