.container-fluid.text-center{
    margin: 0 auto;
    padding: 5% 10%;
    box-sizing: border-box;
}

@media (max-width: 820px) {
    .container-fluid.px-4.py-5 {
        padding: 0 7.5%;
    }
}

@media (max-width: 767px) {
    .container-fluid.px-4.py-5{
        padding: 0;
    }
}