.blog-posts-container {
    max-width: 100%;
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-posts-container h2 {
    margin-bottom: 20px;
}

.blog-posts-container .author {
    margin-bottom: 20px;
}

.blog-posts-container .summary {
    margin-bottom: 20px;
}