<div class="container-fluid py-1">

    <h1 class="display-5 text-center py-5">Una vacanza con gli amici a Roma</h1>

    <!--Hero image-->
    <img src="../assets/suppli.webp" class="img-fluid mx-auto d-block shadow" alt="streetfood">

    <div class="container-fluid text-center py-5">
        <p class="fs-5 text-start fw-bold">
            Lo street food romano è un'autentica festa per il palato, offrendo una miriade di prelibatezze che
            riflettono la ricca tradizione culinaria della città eterna. Tra i piatti più iconici ci sono la pizza al
            taglio, con la sua crosta croccante e una varietà di condimenti deliziosi, e i supplì, palline di riso
            fritte con un cuore filante di mozzarella.
        </p>
        <p class="fs-5 text-start fw-bold">
            Non da meno sono i panini con porchetta, farciti con succulente
            carne di maiale arrosto, o le frappe, dolci fritti che deliziano il palato durante il Carnevale. Il gelato
            artigianale è un'altra delizia romana da gustare mentre si esplorano le strade della città. Prendetevi il
            tempo per assaporare queste prelibatezze di street food quando visitate Roma, e lasciate che i sapori locali
            vi conquistino.
        </p>
    </div>

    <h1 class="fs-2 text-start roma">Er buchetto</h1>
</div>