<div class="container-fluid text-center trasporto pubblico py-1">


  <!--Heo image-->
  <img src="../assets/arrivarearoma.webp" class="img-fluid shadow" alt="muoversi a roma">
  <div class="container-fluid general">
    <!--Trasporto pubblico-->
    <h1 class="fs-1 text-center py-5">Se sei a Roma, sei nel cuore dell'Italia <br> Letteralmente e figurativamente</h1>
    <p class="text-start py-3">La città occupa anche una posizione altamente strategica. Arrivi nel centro di Roma in
      treno dalle principali
      stazioni italiane presenti nelle altre città. Grazie all'aeroporto di Fiumicino, in totale sono 105 le compagnie
      aeree che operano
      nella capitale. Assieme all'Aeroporto di Ciampino, forma il sistema aeroportuale di Roma con oltre 50 milioni di
      passeggeri annui
      (2019) vale a dire il maggiore in Italia e tra i più grandi in Europa.
    </p>

    <!--Trasporto pubblico-->
    <h1 class="fs-1 text-center py-3">In aereo</h1>
    <p class="text-start">Dall'aeroporto di Fiumicino e dall'aeroporto di Ciampino, puoi facilmente prendere il treno,
      l'autobus o il taxi
      per Roma.
    </p>
    <div class="text-center">
      <img src="../assets/airport.gif" alt="atac" class="img-fluid" width="150px">
    </div>
    <p class="text-start">Per orari e biglietti dei treni, consultare il sito ufficiale di <a class="trenitalia"
        href="">Trenitalia</a>.
      Dall'aeroporto di Fiumicino c'è un collegamento veloce e diretto con le principali stazioni ferroviarie di Roma.
      C'è un treno diretto ogni 15 minuti in entrambe le direzioni.
    </p>

    <div class="container-fluid">
      <table class="table text-start">
        <thead>
          <tr>
            <th class="text-start">Tipologia</th>
            <th class="text-end">Prezzo</th>
          </tr>
          <tr *ngFor="let item of items">
            <td class="text-start">{{item.col1}}</td>
            <td class="text-end">{{item.col2}}</td>
          </tr>
        </thead>
      </table>
    </div>
    <p class="text-start">Per arrivare dall'aeroporto di Ciampino a Roma Centro (e viceversa) sono disponibili la linea
      bus 720 che lo collega con la stazione
      Laurentina della metro B e la linea bus 520 che lo collega con la stazione Cinecittà della metro A.
    </p>
    <div class="container-fluid">
      <table class="table text-start">
        <thead>
          <tr>
            <th class="text-start">Tipologia</th>
            <th class="text-end">Prezzo</th>
          </tr>
          <tr *ngFor="let item of bus">
            <td class="text-start">{{item.col1}}</td>
            <td class="text-end">{{item.col2}}</td>
          </tr>
        </thead>
      </table>
    </div>

    <!--In treno-->
    <h1 class="fs-1 text-center">In treno</h1>
    <p class="text-center py-3">Il treno è uno dei migliori mezzi di trasporto per raggiungere Roma dalle varie città.
    </p>
    <div class="text-center">
      <img src="../assets/train.gif" alt="atac" class="img-fluid" width="150px">
    </div>
    <p class="text-start">I treni di Italo collegano Roma con varie città d'Italia. Si trovano diverse offerte di treni
      Italo più che convenienti,
      soprattutto se si parte da Milano, Venezia, Bologna o Firenze.
      12 treni Frecciabianca collegano 20 città della costa toscana e ligure con la Capitale.
      4 treni collegano Roma con le principali stazioni della Campania, della Basilicata e della Calabria, mentre altri
      2 treni
      collegano la capitale con la costa Adriatica (Falconara, Pesaro, Rimini e Ravenna).
      Per raggiungere la capitale da varie città con la massima velocità possibile, vi consigliamo di dare un'occhiata
      alle tariffe
      e alle tratte dei treni Frecciarossa.
    </p>

    <!--Autobus-->
    <h1 class="fs-1 text-center py-3">In autobus</h1>
    <p class="text-start">Diverse compagnie di autobus che forniscono un rapido viaggio in autobus tra le principali
      città italiane si
      fermano anche a Roma.
    </p>
    <div class="text-center">
      <img src="../assets/bus.gif" alt="atac" class="img-fluid" width="150px">
    </div>

    <div class="container-fluid">
      <table class="table text-start">
        <thead>
          <tr>
            <th class="text-start">Compagnia</th>
            <th class="text-end">Provenienza</th>
          </tr>
          <tr *ngFor="let item of pullman">
            <td [innerHTML]="item.col2" class="text-start"></td>
            <td class="text-end">{{item.col1}}</td>
          </tr>
        </thead>
      </table>
    </div>

    <!--Macchina-->
    <h1 class="fs-1 text-center py-3">In macchina</h1>
    <p class="text-start">Se vuoi viaggiare con la massima comodità ed essere del tutto autonomo negli spostamenti,
      viaggiare con la tua auto
      è decisamente la scelta perfetta per te.
    </p>
    <div class="text-center">
      <img src="../assets/auto.gif" alt="atac" class="img-fluid" width="150px">
    </div>
    <p class="text-start">
      Si sa, tutte le strade portano a Roma. <br> Per raggiungere Roma in macchina da qualsiasi parte d'Italia, esistono
      diverse opzioni di percorso
      in base alla posizione di partenza. Ecco alcune informazioni generali per aiutarti a programmare il tuo viaggio:
    </p>
    <p class="text-start">
      Da Nord: <br>
      Se parti da Milano, puoi prendere l'Autostrada del Sole (A1) e seguirla fino a Firenze, quindi prendere
      l'Autostrada del Sole (A1) verso Roma.
      Se parti da Bologna, puoi prendere l'Autostrada del Brennero (A22) e seguirla fino a Modena, quindi prendere
      l'Autostrada della Cisa (A15) verso Parma e poi l'Autostrada
      del Sole (A1) verso Roma.
    </p>
    <p class="text-start">
      Da Est: <br>
      Se parti da Venezia, puoi prendere l'Autostrada del Sole (A4) e seguirla fino a Bologna, quindi prendere
      l'Autostrada della Cisa (A15) verso Parma e poi l'Autostrada del
      Sole (A1) verso Roma. <br>
      Se parti da Ancona, puoi prendere l'Autostrada Adriatica (A14) e seguirla fino a Cesena, quindi prendere
      l'Autostrada del Sole (A14) verso Rimini e poi l'Autostrada del
      Brennero (A14) verso Bologna, quindi prendere l'Autostrada della Cisa (A15) verso Parma e poi l'Autostrada del
      Sole (A1) verso Roma.
    </p>
    <p class="text-start">
      Da Sud: <br>
      Se parti da Napoli, puoi prendere l'Autostrada del Mediterraneo (A1) e seguirla fino a Roma.
      Se parti da Bari, puoi prendere l'Autostrada Adriatica (A14) e seguirla fino a Pescara, quindi prendere
      l'Autostrada del Sole (A24) verso Roma. <br>
    </p>
    <p class="text-start">
      Da Ovest: <br>
      Se parti da Genova, puoi prendere l'Autostrada dei Fiori (A10) e seguirla fino a Savona, quindi prendere
      l'Autostrada del Sole (A6) verso Torino e poi l'Autostrada del
      Frejus (A32) verso Bardonecchia, quindi prendere l'Autostrada del Moncenisio (A43) verso Susa e poi l'Autostrada
      del Frejus (A32) verso Torino, quindi prendere l'Autostrada
      del Sole (A21) verso Piacenza e poi l'Autostrada del Sole (A1) verso Roma. <br>
      È sempre importante verificare le condizioni del traffico e l'eventuale presenza di lavori in corso prima di
      mettersi in viaggio.
    </p>
  </div>
</div>