<!--Heo image-->
<img src="../assets/arrivarearoma.png" class="img-fluid align-items-lg-center shadow" alt="muoversi a roma">

<div class="container-fluid text-center trasporto pubblico py-5">
  
  <!--Trasporto pubblico-->
  <h1 class="fs-1 text-center">Se sei a Roma, sei nel cuore dell'Italia</h1>
  <h1 class="fs-1 text-center">Letteralmente e figurativamente</h1>
  <p class="text-start py-3">La città occupa anche una posizione altamente strategica. Arrivi nel centro di Roma in treno dalle principali 
    stazioni italiane presenti nelle altre città. Grazie all'aeroporto di Fiumicino, in totale sono 105 le compagnie aeree che operano 
    nella capitale. Assieme all'Aeroporto di Ciampino, forma il sistema aeroportuale di Roma con oltre 50 milioni di passeggeri annui 
    (2019) vale a dire il maggiore in Italia e tra i più grandi in Europa.
  </p>

  <!--Trasporto pubblico-->
  <h1 class="fs-1 text-center py-3">In aereo</h1>
  <p class="text-center">Dall'aeroporto di Fiumicino e dall'aeroporto di Ciampino, puoi facilmente prendere il treno, l'autobus o il taxi 
    per Bruxelles.
  </p>
  <div class="text-center">
    <img src="../assets/airport.gif" alt="atac" class="img-fluid" width="150px">
  </div>
  <p class="text-start">Per orari e biglietti dei treni, consultare il sito ufficiale di <a class="trenitalia" href="">Trenitalia</a>.
    Dall'aeroporto di Fiumicino c'è un collegamento veloce e diretto con le principali stazioni ferroviarie di Roma. 
    C'è un treno diretto ogni 15 minuti in entrambe le direzioni.
  </p>
  <ul class="list-group-dotted text-start">
    <li class="list-group-dotted py-1">Leonardo Express, ovvero il treno più veloce che effettua il collegamento, puoi arrivare a Termini in 32 minuti: 18€</li>
    <li class="list-group-dotted py-1">Treno Regionale FL1, a Roma in circa 45 minuti: 7€</li>
    <li class="list-group-dotted py-1">Transfer in Bus, arrivi in città in 45 minuti circa: 6€</li>
    <li class="list-group-dotted py-1">Prenotare il Taxi in anticipo, arrivi in centro in circa 35 minuti: 50€</li>
  </ul>
  <p class="text-start">Per arrivare dall'aeroporto di Ciampino a Roma Centro (e viceversa) sono disponibili la linea bus 720 che lo collega con la stazione 
    Laurentina della metro B e la linea bus 520 che lo collega con la stazione Cinecittà della metro A.
  </p>
  <ul class="list-group-dotted text-start">
    <li class="list-group-dotted py-1">Bus diretto, che permette di arrivare in città in circa 30 minuti: 6€</li>
    <li class="list-group-dotted py-1">Bus, più la Metro, 40 minuti per raggiungere la città: 3€</li>
    <li class="list-group-dotted py-1">Bus e poi il Treno, ci si impiega 30 minuti: 3€</li>
    <li class="list-group-dotted py-1">Prenotando il Taxi con la tariffa fissa (durata 30 minuti): 31€</li>
  </ul>

    <!--In treno-->
    <h1 class="fs-1 text-center">In treno</h1>
    <p class="text-center py-3">Il treno è uno dei migliori mezzi di trasporto per raggiungere Roma dalle varie città.</p>
    <div class="text-center">
        <img src="../assets/train.gif" alt="atac" class="img-fluid" width="150px">
      </div>
      <p class="text-start">I treni di Italo collegano Roma con varie città d'Italia. Si trovano diverse offerte di treni Italo più che convenienti, 
        soprattutto se si parte da Milano, Venezia, Bologna o Firenze.
        12 treni Frecciabianca collegano 20 città della costa toscana e ligure con la Capitale.
        4 treni collegano Roma con le principali stazioni della Campania, della Basilicata e della Calabria, mentre altri 2 treni 
        collegano la capitale con la costa Adriatica (Falconara, Pesaro, Rimini e Ravenna).
        Per raggiungere la capitale da varie città con la massima velocità possibile, vi consigliamo di dare un'occhiata alle tariffe 
        e alle tratte dei treni Frecciarossa.</p>
</div>