<div class="container-fluid text-center">
    <div class="col" *ngIf="nightlifePosts$ | async as nightlifePost">
    <div class="row-attraction-post-container">
        <div class="container-fluid text-start">
          <h2 class="py-3">{{nightlifePost.fields.title}}</h2>
            <img [src]="nightlifePost.fields.featuredImage.fields.file.url" class="img-fluid py-3">
            <p class="fs-5 content py-3">
                <markdown ngPreserveWhitespaces>
                  {{nightlifePost.fields.content}}
                </markdown>
              </p>
            <p class="fs-5 location py-1">
              <markdown ngPreserveWhitespaces>
                {{nightlifePost.fields.location}}
              </markdown>
             </p>
             <p class="fs-5 location py-1">
              <markdown ngPreserveWhitespaces>
                {{nightlifePost.fields.email}}
              </markdown>
             </p>
             <p class="fs-5 location py-1">
              <markdown ngPreserveWhitespaces>
                {{nightlifePost.fields.website}}
              </markdown>
             </p>
             <p class="fs-5 location py-1">
              <markdown ngPreserveWhitespaces>
                {{nightlifePost.fields.phone}}
              </markdown>
             </p>
        </div>
    </div>
</div>
</div>
